In [1]:
%pip install pandas
%pip install numpy
%pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post4.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post4-py3-none-any.whl size=2973 sha256=a6b4c94331df349df1e105b8b007608bf982e503cb63e045c662aa3a55c45fb4
  Stored in directory: /root/.cache/pip/wheels/46/b8/69/4f7789b7d2fc0718a44cbc4ae5d40970a40c22c472ae50f0a1
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post4

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [24]:
df_orginal = pd.read_csv("framingham.csv", na_values=['NA'])
df = df_orginal.copy(deep=True)

In [25]:
df.head(5)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [26]:
df.dtypes

male                 int64
age                  int64
education          float64
currentSmoker        int64
cigsPerDay         float64
BPMeds             float64
prevalentStroke      int64
prevalentHyp         int64
diabetes             int64
totChol            float64
sysBP              float64
diaBP              float64
BMI                float64
heartRate          float64
glucose            float64
TenYearCHD           int64
dtype: object

In [27]:
df.shape

(4238, 16)

In [28]:
df.info() # education, cigsPerDay, BPMeds, totChol, BMI, hearRate, glucose -> contains NULL values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [29]:
print(df.isnull().sum())
df[df.isnull().any(axis=1)] # 582 rows -> atleast 1 column value is null

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
14,0,39,2.0,1,9.0,0.0,0,0,0,226.0,114.0,64.0,22.35,85.0,NaN,0
21,0,43,1.0,0,0.0,0.0,0,0,0,185.0,123.5,77.5,29.89,70.0,NaN,0
26,0,60,1.0,0,0.0,0.0,0,0,0,260.0,110.0,72.5,26.59,65.0,NaN,0
33,1,61,NaN,1,5.0,0.0,0,0,0,175.0,134.0,82.5,18.59,72.0,75.0,1
36,1,56,NaN,0,0.0,0.0,0,0,0,257.0,153.5,102.0,28.09,72.0,75.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4208,0,51,1.0,1,9.0,0.0,0,0,0,340.0,152.0,76.0,25.74,70.0,NaN,0
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,NaN,0
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,NaN,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0

In [30]:
def impute_data():
  # print(df['education'].mean())
  # print(df['education'].median())
  df['education'].fillna(df['education'].mean(), inplace=True)
  # print(df['cigsPerDay'].mean())
  # print(df['cigsPerDay'].median())
  df['cigsPerDay'].fillna(df['cigsPerDay'].median(), inplace=True)
  # print(df['BPMeds'].mean())
  # print(df['BPMeds'].median())
  df['BPMeds'].fillna(df['BPMeds'].mean(), inplace=True)
  # print(df['totChol'].mean())
  # print(df['totChol'].median())
  df['totChol'].fillna(df['totChol'].mean(), inplace=True)
  # print(df['BMI'].mean())
  # print(df['BMI'].median())
  df['BMI'].fillna(df['BMI'].mean(), inplace=True)
  # print(df['glucose'].mean())
  # print(df['glucose'].median())
  df['glucose'].fillna(df['glucose'].mean(), inplace=True)
  # print(df['heartRate'].mean())
  # print(df['heartRate'].median())
  df['heartRate'].fillna(df['heartRate'].mean(), inplace=True)

impute_data()
df.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [31]:
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [32]:
df['cigsPerDay'] = df['cigsPerDay'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4238 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4238 non-null   int64
 5   BPMeds           4238 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4238 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4238 non-null   float64
 13  heartRate        4238 non-null   float64
 14  glucose          4238 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(8), int64(8)
memory usage: 529.9 KB

In [33]:
X = df.drop(['TenYearCHD'], axis=1)
Y = df['TenYearCHD']

In [34]:
def feature_normalize(X):
  min_val = X.min(axis=0)
  max_val = X.max(axis=0)
  scaled_data = (X - min_val)/(max_val - min_val)
  return scaled_data

def feature_standardization(X):
  mean = np.mean(X, axis=0)
  std = np.std(X, axis=0, ddof=1) 
  x_norm = (X - mean)/std
  return x_norm

X = feature_standardization(X)

In [35]:
X.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1.153056,-1.234805,2.006851,-0.988154,-0.751234,-0.175823,-0.077023,-0.671022,-0.162457,-0.941234,-1.195766,-1.082497,0.286909,0.342704,-0.217491
1,-0.867056,-0.418208,0.020902,-0.988154,-0.751234,-0.175823,-0.077023,-0.671022,-0.162457,0.299560,-0.515126,-0.158970,0.719240,1.590087,-0.261280
2,1.153056,-0.184895,-0.972072,1.011749,0.929100,-0.175823,-0.077023,-0.671022,-0.162457,0.186760,-0.220183,-0.242927,-0.113489,-0.073090,-0.524016
3,-0.867056,1.331643,1.013877,1.011749,1.769267,-0.175823,-0.077023,1.489913,-0.162457,-0.264438,0.800777,1.016429,0.682394,-0.904679,0.921032
4,-0.867056,-0.418208,1.013877,1.011749,1.181150,-0.175823,-0.077023,-0.671022,-0.162457,1.089156,-0.106743,0.092902,-0.663729,0.758498,0.132824

In [36]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4, shuffle=False)
print(X_train.shape, Y_train.shape)

(2542, 15) (2542,)

In [37]:
lor = LogisticRegression()
lor.fit(X_train, Y_train)
Y_pred = lor.predict(X_test)
accuracy = accuracy_score(Y_test, Y_pred)
print(f"Accuracy: {accuracy*100}%")

Accuracy: 85.67216981132076%

In [38]:
def compute_cost(X, Y, w):
  m, n = X.shape
  pred = X.dot(w)
  mse = np.square(np.subtract(pred, Y))
  J = 1/(2*m)*np.sum(mse)
  return J

def gradient_descent(X, Y, w, alpha=0.15, iterations=10):
  cost_history = np.zeros(iterations)
  m, n = X.shape
  b = 0
  for i in range(iterations):
    y_pred = X.dot(w) + b
    errors = np.subtract(y_pred, Y)
    sum_delta = (alpha/m) * X.transpose().dot(errors)
    w = w - sum_delta
    b = b - (alpha/m)*np.sum(Y - y_pred)

    cost_history[i] = compute_cost(X, Y, w)
  return w, b, cost_history

w = np.zeros(X.shape[1])
w, b, cost_history = gradient_descent(X_train, Y_train, w)
print(b)
print(w)

-0.4685026929836547
male               0.015030
age                0.046673
education         -0.000980
currentSmoker      0.006766
cigsPerDay         0.017282
BPMeds            -0.003658
prevalentStroke    0.014397
prevalentHyp       0.014347
diabetes           0.011781
totChol            0.013048
sysBP              0.029003
diaBP              0.004518
BMI                0.005385
heartRate         -0.016356
glucose            0.019898
dtype: float64

In [39]:
Y_pred = X_test.dot(w) + b
z = round(1/(1 + np.exp(-Y_pred)))
accuracy = accuracy_score(Y_test, z)
print(f"Accuracy: {accuracy*100}%")

Accuracy: 85.02358490566037%